* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.banner-img-one {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}
.banner-img-two {
  width: 60%;
  max-width: 300px;
  border-radius: 20px;
  position: absolute;
  bottom: -100px;
  left: -100px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
  border: 4px solid white;
}

@media (max-width: 600px) {
  .banner-img-one {
    max-width: 400px;
  }
  .banner-img-two {
    left: 20%;
  }
}

@media (max-width: 401px) {
  .banner-img-one {
    max-width: 300px;
  }
  .banner-img-two {
    bottom: -70px;
  }
}
